awsupi/.terraform/*
terraform.tfstate
terraform.tfstate.backup
awsupi/ignition-files/*
**/openshift-install
**/.credentials.aws
**/continue
**/stop
org/**/install-config.yaml
**/install-dir/
**/install-dir/*
**/.openshift_install.log
**/metadata.json
passwd
.cache/
.config/
.kube/
kubeconfig
**/.bash_history
.bash_history
